
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="alert alert-primary text-center">
    <h1>FLIPKART PRODUCTS</h1>
</div>
<div class="alert alert-info text-center">
    <h2>PRODUCT AVAILABILITES</h2>
</div>

<div class="container">

<div class="samsung">
<div class="mid-head">
<h3>SAMSUNG</h3>
</div>
<div>
<img src="../../assets/Mobile products/Samsung.jpg" alt="">
</div>
<div class="btn-mid">
<button [routerLink]="['samsung-product']">VIEW</button>
</div>
 </div>

 <div class="vivo">
<div class="mid-head">
<h3>VIVO</h3>
</div>
<div>
<img src="../../assets/Mobile products/Vivo.jpg" alt="">
</div>
<div class="btn-mid">
<button >VIEW</button>
</div>
 </div>

 <div class="apple">
    <div class="mid-head">
    <h3>APPLE</h3>
    </div>
    <div>
    <img src="../../assets/Mobile products/apple.jpg" alt="">
    </div>
    <div class="btn-mid">
    <button>VIEW</button>
    </div>
     </div>




</div>

